/****************************************
*
* Base stylesheet
*
*****************************************/

html {
  font-size: $baseFontSize;
  box-sizing: border-box;
  width:100%;
  margin:0;
  padding: 0;
}

html,
body {
  width:100%;
  overflow-x: hidden;
}

body {
  font-family: $Archia-font;
  font-weight: $regular;
  @extend .regular;
  color: $txtColour;
  @include font-size(14);

  & > section {
    overflow: hidden;
  }

}

#UserAgent {
  display: none;
}

a,
button {
  display: block;
  outline: none;

  &.btn {
    height: 44px;
    line-height: 44px;
    padding: 0 20px;


    &.link-btn {
      height: 56px;
      border: 2px solid $white;
      margin:20px 0;
      font-family: $Archia-font;
      font-weight: $semiBold;
      @include font-size(16);
      line-height: 56px;
      text-align: center;
      color: $white;
      transition: all 0.5s ease-in-out;


      &.primary {

        color: $brandPrimary;
        border-color: $brandPrimary;
      }

      &.secondary,
      &.cta-btn {
        border-color: $brandPrimary;
        background-color: $brandPrimary;
        color: $white;
      }
    }

    &.wide-btn {
      padding: 0 100px;

    }
  }

  &:hover {

    &.btn {

      &.link-btn {

        &.external {

        }

        &.download {

        }

        &.primary {
          color: $white;
          background-color: $brandPrimary;
        }

        &.secondary,
        &.cta-btn {
          border-color: $brandSecondary;
          background-color: $brandSecondary;
        }
      }
    }
  }
}


