/****************************************
*
* Base stylesheet
*
*****************************************/

html {
  font-size: $baseFontSize;
  box-sizing: border-box;
  width:100%;
  margin:0;
  padding: 0;
}

html,
body {
  width:100%;
  overflow-x: hidden;
}

body {
  font-family: $Archia-font;
  font-weight: $regular;
  @extend .regular;
  color: $txtColour;
  @include font-size(14);

  & > section {
    overflow: hidden;
  }

}

#UserAgent {
  display: none;
}

a,
button {
  display: block;
  outline: none;

  &.btn {
    height: 44px;
    line-height: 44px;
    padding: 0 20px;


    &.link-btn {
      height: 56px;
      border: 2px solid $white;
      margin:20px 0;
      font-family: $Archia-font;
      font-weight: $semiBold;
      @include font-size(16);
      line-height: 56px;
      text-align: center;
      text-transform: uppercase;
      color: $white;
      transition: all 0.125s ease-in-out;
      padding:0 44px;


      &.external {
        position: relative;
        padding-right: 80px;

        &:after {
          content: '';
          position: absolute;
          top: 17px;
          right:37px;
          display: inline-block;
          width:25px;
          height: 22px;
          background-color: transparent;
          background-image: url("#{$pathToImages}/link-icons-sprite.png");
          background-position: -3px -3px;
          background-size: 155px 62px;
          background-repeat: no-repeat;
        }

        &.primary {

          &:after {
            background-position: -65px -3px;
          }
        }
      }

      &.download {
        position: relative;
        padding-right: 90px;

        &:after {
          content: '';
          position: absolute;
          display: inline-block;
          width:18px;
          height: 30px;
          background-color: transparent;
          background-image: url("#{$pathToImages}/link-icons-sprite.png");
          background-position: 4.5px 39.5px;
          background-size: 155px 62px;
          background-repeat: no-repeat;
        }
      }

      &.primary {
        color: $brandPrimary;
        border-color: $brandPrimary;
      }

      &.quaternary {
        border-color: $brandQuaternary;
        background-color: $white;
        color: $brandQuaternary;

        &:after {
          background-position: -96px -3px;
        }
      }

      &.secondary,
      &.cta-btn {
        border-color: $brandPrimary;
        background-color: $brandPrimary;
        color: $white;
      }
    }

    &.wide-btn {
      padding: 0 100px;

    }
  }

  &:hover {

    &.btn {

      &.link-btn {
        color: $brandPrimary;
        background-color: $white;

        &.external {

          &:after {
            background-position: -65px -3px;
          }
        }

        &.primary {
          color: $white;
          background-color: $brandPrimary;

          &.external {

            &:after {
              background-position: -3px -3px;
            }
          }
        }

        &.cta-btn {
          border-color: $brandSecondary;
          background-color: $brandSecondary;
          //color: $white;
        }

        &.secondary {
          border-color: $brandSecondary;
          background-color: $brandSecondary;
          color: $white;

          &.external {

            &:after {
              background-position: -3px -3px;
            }
          }
        }

        &.quaternary {
          background-color: $brandQuaternary;
          color: $white;

          &.external {

            &:after {
              background-position: -3px -3px;
            }
          }
        }
      }
    }
  }
}


