/****************************************
*
* Base stylesheet
*
*****************************************/

html {
  font-size: $baseFontSize;
  box-sizing: border-box;
  width:100%;
  margin:0;
  padding: 0;
}

html,
body {
  width:100%;
  overflow-x: hidden;
}

body {
  font-family: $Archia-font;
  font-weight: $regular;
  @extend .regular;
  color: $txtColour;
  @include font-size(14);

  & > section {
    overflow: hidden;
  }

}

#UserAgent {
  display: none;
}

a,
button {
  display: block;
  outline: none;

  &.btn {
    height: 44px;
    line-height: 44px;
    padding: 0 20px;


    &.link-btn {
      height: 56px;
      border: 2px solid $white;
      margin:20px 0;
      font-family: $Archia-font;
      font-weight: $semiBold;
      @include font-size(16);
      line-height: 56px;
      text-align: center;
      color: $white;

      &.primary {

        color: $brandPrimary;
        border-color: $brandPrimary;
      }
    }



    &.brand-btn {
      background-color: $brandPrimary;
      border:1px solid $white;;
      color: $white;
      font-family: $Archia-font;
      font-weight: $regular;
      letter-spacing: 0.0055rem;
      @include font-size(18);
      transition: all 0.5s ease-in-out;

      &.brand-red {
        background-color: $brandSecondary;
        border-color: $brandSecondary;
      }

      &.brand-reverse {
        background-color: transparent;
        border-color: $brandPrimary;
        color: $brandPrimary;
      }
    }

    &.wide-btn {
      padding: 0 100px;

    }
  }

  &:hover {

    &.btn {

      &.brand-btn {
        background-color: $white;
        border:1px solid $brandPrimary;
        color: $brandPrimary;

        &.brand-red {
          border-color: $brandSecondary;
          background-color: $brandSecondary;
          color: $white;
        }

        &.brand-reverse {
          border-color: $white;
          background-color: $brandPrimary;
          color: $white;
        }
      }
    }
  }
}


