/****************************************
*
* Global stylesheet
*
*****************************************/

body {
  padding: 0;
  margin: 0;

  .bg-wrapper {
    position: fixed;
    z-index: -10;
    top: 0;

    img {
      width:100%;
      min-height: 1080px;
    }

    .cover {
      object-fit: cover;
    }
  }

  .page-wrapper {
    height:2000px;//TODO: remove test only
  }
}