/****************************************
*
* Global stylesheet
*
*****************************************/

html {

}

.flex-item {

  &:not(:last-child) {
    margin-right: 12px;
  }
}

body {
  background: url("#{$pathToImages}/fixed-bg-img-3-x2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0;
  margin: 0;

  & > section {
    margin-bottom: 12px;
  }

  .fixed-width-content {
    margin:0 auto;
    width: 1200px;
  }

  header {

    &.page-header {
      position: fixed;
      z-index: 1000;
      top: 0;
      height:127px;
      width:100%;
      background-color: rgba(49, 39, 131, 0.75);
      /*background: url("#{$pathToImages}/fixed-bg-img-3-x2.jpg") no-repeat center top;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;*/


      .header-content {
        @include flex-container();

        .logo {
          display: inline-block;
          width: 248px;
          height: 47px;
          margin: 40px 60px;
          background: transparent url("#{$pathToImages}/boc-logo-x2.png") 0 0 no-repeat;
          background-size: 248px 47px;
        }

        .social {
          margin: 40px 60px;

          a {
            display: inline-block;
            color: $white;
            @include font-size(29);


            &:not(:last-child) {
              margin-right: 19px;
            }
          }
        }
      }
    }
  }

  .page-wrapper {
    margin-top: 127px;
    height:100%;

    section {

      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }

    .content {
      padding: 0 18px;
    }

    .text-block {
      width: 392px;
      background-color: $white;

      .inner {
        position: relative;
        padding: 40px;

        h2 {
          @include font-size(43);
          font-weight: $medium;
        }

        p {
          @include font-size(20);
          font-weight: $light;
          line-height: 28px;
        }

        a {
          position: absolute;
          top: 307px;
        }
      }
    }

    .image-block {
      position: relative;
      width:380px;

      img {
        position: absolute;
        top:0;
        left:0;
        z-index: -1;
        height: 100%;
        width: 100%;
      }

      .inner {
        padding: 40px;
        margin: 0;
        position: inherit;
      }
    }

    .hero {
      height: 635px;
      margin-bottom: 12px;

      .hero-content {
        color: $white;
        overflow: hidden;

        .inner {
          margin:126px 60px 0 60px;

          h1 {
            width:50%;
          }

          p {
            @include font-size(24);
            font-weight: $regular;
            line-height: 20px;margin-left: 5px;
          }

          .find-out-more {
            margin-left: 5px;
          }
        }
      }
    }

    .content-row {

      &.full-height {
        height: 423px;
      }

      div {
        height: inherit;
      }

      .content-row-content {
        @include flex-container();

        .counter-block {
          width:380px;
          background: transparent url("#{$pathToImages}/counter-bg.png") 0 0 no-repeat;
          text-align: center;
          color: $white;

          .count {
            margin: 117px 0 15px;
            @include font-size(197);
            line-height: 160px;
            font-weight: $bold;
          }

          .to-go {
            margin-top: -18px;
            @include font-size(26);
            font-weight: $medium;
            text-transform: uppercase;
          }

          .hashtag {
            margin-top: 32px;
            @include font-size(26);
            font-weight: $semiBold;
          }
        }

        .text-image-feature-block {
          @include flex-container();
          width: 772px;

          .text-block {

            a {

            }
          }
        }

        .full-width-cta-block {
          height:200px;
          width:100%;
          background-color: $white;
          color: $brandTertiary;

          .inner {
            padding: 40px;
            position: relative;

            h2 {
              @include font-size(51);
              font-weight: $semiBold;
            }

            p {
              color: $brandTertiary;
              @include font-size(16);
              font-weight: $medium;
            }

            a {

              &.stay-connected {
                position: absolute;
                top: 54px;
                left: 680px;
              }
            }
          }
        }

        .feature-image-block {
          height: 423px;

          .inatagram-block-bg {
            @include border-radius(31px);
            z-index: -1;
          }

          a {

            &.instagram {
              position: absolute;
              top:26px;
              left:40px;
              color: $white;
              @include font-size(41);
            }

            &.link-btn {
              position: absolute;
              top:316px;
              left:40px;
            }
          }
        }

        .custom-feature-image-block {
          @include flex-container();
          height: 423px;
          width: 772px;

          div {
            height: inherit;
          }

          .text-block {
            width: 392px;
            background-color: $white;

            .inner {
              position: relative;
              padding: 40px;
              margin: 0;


              h2 {
                @include font-size(43);
                font-weight: $medium;
              }

              a {

                &.people,
                &.sponsors,
                &.partners {
                  display: block;
                  width: 216px;
                  padding: 0 78px;
                  margin-top: 180px;
                  text-transform: uppercase;
                }
              }
            }
          }
        }

        .custom-feature-image-block {

          .inner {
            color: $white;

            h2 {
              margin-top: -10px;
              @include font-size(43);
              width: 80%;
            }

            a {

              &.volunteers {
                position: absolute;
                top:316px;
                left:40px;
              }
            }
          }
        }


        .circular-link-block {
          display: block;
          width: 380px;
          height: 423px;
          padding: 32px 19px;
          color: $white;

          .inner {
            @include border-radius(180px);
            position: relative;
            width: 360px;
            height:360px;
            overflow: hidden;

            a {
              @include border-radius(180px);
              color: inherit!important;
              position: absolute;
              display: block;
              width:100%;
              height: 100%;
            }

            h2 {
              position: absolute;
              top:100px;
              left: 86px;
              display: block;
              @include font-size(48);
              font-weight: $semiBold;
            }
          }
        }
      }
    }
  }

  footer {
    margin-top: 120px;

    .footer-top {
      height:120px;
      background-color: $brandPrimary;

      .flex-wrapper {
        @include flex-container();
        padding: 25px 294px;
        justify-content: space-around;

        i {
          display: inline-block;

          &.mayor{
            width:240px;
            height:65px;
            background: transparent url("#{$pathToImages}/mayor-of-london-x2.png") 0 0 no-repeat;
            background-size: 240px 65px;;
          }

          &.city {
            width:48px;
            height:65px;
            background: transparent url("#{$pathToImages}/city-of-london-x2.png") 0 0 no-repeat;
            background-size: 48px 65px;;
          }

          &.airbnb {
            position: relative;
            top:6px;
            width:48px;
            height:55px;
            background: transparent url("#{$pathToImages}/airbnb-logo-x2-.png") 0 0 no-repeat;
            background-size: 48px 55px;;
          }
        }
      }
    }

    .footer-bottom {
      height:320px;
      background-color: $black;
      overflow: hidden;

      .grid-wrapper {
        margin-top: 55px;
        padding: 0 40px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 57px);
        grid-template-areas: "boc-logo . . wf-logo"
        ". . . wf-site "
        ". . . find-out-more"
        "social . . copy";
        color: $white;

        a {
          @include font-size(16);
          font-weight: $regular;
          color: $white;
        }

        p {
          @include font-size(16);
          font-weight: $regular;
          margin-bottom: 0;
        }

        .boc-logo {
          grid-area: boc-logo;

          .logo {
            display: inline-block;
            width: 248px;
            height: 47px;
            background: transparent url("#{$pathToImages}/boc-logo-x2.png") 0 0 no-repeat;
            background-size: 248px 47px;
          }
        }

        .wf-logo {
          grid-area: wf-logo;

          .wf-logo {
            display: inline-block;
            width: 92px;
            height: 51px;
            background: transparent url("#{$pathToImages}/Waltham-Forest-logo-x2.png") 0 0 no-repeat;
            background-size: 92px 51px;
          }
        }

        .wf-site {
          grid-area: wf-site;
        }

        .find-out-more {
          grid-area: find-out-more;
        }

        .social {
          grid-area: social;

          a {
            display: inline-block;
            color: $white;
            @include font-size(29);


            &:not(:last-child) {
              margin-right: 19px;
            }
          }
        }

        .copy {
          grid-area: copy;
          @include font-size(16);
          font-weight: $regular;

          ul {
            @include flex-container();
            justify-content: flex-start;
            list-style: none;
            padding: 0;

            li {
              height: 16px;
              position: relative;

              &:not(:last-child) {
                //border-right: 1px solid $white;

                &:after {
                  content: '';
                  position: absolute;
                  right:0;
                  top:10px;
                  display: block;
                  background-color: $white;
                  width: 1px;
                  height: 16px;
                }
              }

              a {
                padding: 10px;
                line-height: 16px;
                color: $white;
              }

              &:nth-child(1) {

                a {
                  padding-left: 0;
                }
              }

              &:last-child {

                a {
                  padding-right: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}