/****************************************
*
* Global stylesheet
*
*****************************************/

body {
  margin:0;
  padding:0;

  .fixed-width-content {
    box-sizing: border-box!important;
    margin: 0 auto;
    width: 1200px;
  }

  .page-wrapper {

    &.fixed-nav {

      .main-navigation {
        position: fixed;
        z-index: 100;
        top:0;
        width: 100%;
      }
    }

    header {

      &.page-header {
        position: relative;
        z-index: 100;
        top: 0;
        height:120px;
        width:100%;

        .header-content {
          height:120px;
          @include flex-container();
          background-color: $black;

          .logo {
            display: inline-block;
            width: 248px;
            height: 47px;
            margin: 35px 36px;
            background: transparent url("#{$pathToImages}/boc-logo-x2.png") 0 0 no-repeat;
            background-size: 248px 47px;
            text-indent: -10000px;
          }

          .social {
            margin: 40px 36px;

            a {
              display: inline-block;
              color: $white;
              @include font-size(29);


              &:not(:last-child) {
                margin-right: 19px;
              }
            }
          }
        }
      }
    }

    .main-navigation {
      height: 50px;
      position: relative;
      background-color: $white;

      nav {

        &.navbar {
          margin: 0 auto;

          ul {
            list-style: none;
            text-align: center;

            li {
              display: inline-block;

              a {
                display: inline-block;
                height:50px;
                padding:0 36px;
                @include font-size(18);
                font-weight: $medium;
                line-height: 50px;
                text-decoration: none;
                color: $black;

                &:hover {
                  color: $white;
                  background-color: $brandPrimary;
                }
              }
            }

            li {

              &.dropdown {

                &.open {

                  div {

                    &.dropdown-menu {
                      display: block;
                      position: absolute;
                      z-index: 100;
                      top: 50px;
                      left: 0;
                      width: 100%;
                      min-height: 100px;
                      padding: 27px 36px 36px 0;
                      background-color: $brandPrimary;

                      & > ul {
                        @include flex-container(row,flex-start);

                        li {
                          //display: inline-block;

                          a {
                            color: $black;

                            &:hover {
                              color: $white;
                            }
                          }

                          & > ul {
                            @include flex-container(column,flex-start);

                            li {
                              //display: block;

                              a  {
                                color: $white;

                                &:hover {
                                  color: $black;
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }

                  a {
                    color: $white;
                    background-color: $brandPrimary;
                  }
                }

                div {

                  &.dropdown-menu {
                    display: none;
                  }
                }

              }
            }
          }
        }
      }
    }

    &.fixed-nav {

      nav {

        &.main-navigation {
          position: fixed;
          top: 0;
          width: 100%;
          z-index: 101;

        }
      }
    }



    .content-wrapper {
      //margin-top: 120px;
      overflow: visible;
      height: auto;

      .dynamic-row {
        @include flex-container(row, flex-start);

        & + .dynamic-row {
          margin-top: -1px;
        }

        .block {
          height:auto;
          overflow: hidden;
          position: relative;

          .bg-link-block,
          .image-link-block {
            display: block;
            width: 100%;
            height: 100%;

            img {
              display: block;
              width: 100%;
              //height: 100%;
              object-fit: cover;
              transition: all, 0.5s ease-in-out;

            }

            .block-inner-content {
              position: absolute;
              top: 0;
              left: 0;
              color: $white;
              padding-left: 36px;
              padding-top: 50px;

              h2 {
                @include font-size(30);
                font-weight: $semiBold;
              }

              p {
                @include font-size(18);
                font-weight: $medium;
                margin-bottom: 0;
              }
            }

            &:hover {

              img {
                transform: scale(1.1);
              }
            }
          }

          .bg-link-block {
            position: relative;

            &:after {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-image: url("#{$pathToImages}/hover-bg.png");
              background-size: 80%;
              background-position: -10px -25px;
              opacity: 0;
              transition: all, 0.33s ease-in-out;
            }

            &:hover {

              &:after {
                opacity: 1;
              }

            }
          }

          &.image-block {

            &.size2of3 {

              .block-inner-content {
                padding:27px 25% 27px 36px;

                h2 {
                  @include font-size(70);
                  font-weight: $semiBold;
                  line-height: 72px;
                }

                p {
                  @include font-size(24);
                  font-weight: $medium;
                  margin-top:20px;
                }
              }

              &.event-block {

                .block-inner-content {
                  padding: 36px;

                  h2 {
                    @include font-size(70);
                    font-weight: $semiBold;
                    line-height: 72px;
                  }

                  p {
                    @include font-size(18);
                    font-weight: $medium;
                    margin: 0;
                  }
                }
              }
            }

            &.event-block {

              .block-inner-content {
                padding-top:260px;

                h2 {
                  @include font-size(30);
                  font-weight: $semiBold;
                  line-height: 1;
                }
              }
            }

            &.social-block {

              .block-inner-content {
                padding:287px 36px 36px;

                .instagram-icon {
                  position: absolute;
                  top:36px;
                  left: 36px;

                  &.fa {
                    @include font-size(30);
                  }
                }

                h2 {
                  line-height: 1!important;
                }
              }
            }
          }

          &.two-row{

            & > .block {
              height: 50%;
            }

            &.event-block {
              display: block;
              width: 100%;
              height: 100%;

              img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all, 0.5s ease-in-out;
              }

              .block-inner-content {
                position: absolute;
                top: 0;
                left: 0;
                color: $white;
                padding-left: 36px;
                padding-top: 50px;

                h2 {
                  @include font-size(30);
                  font-weight: $semiBold;
                }

                p {
                  @include font-size(18);
                  font-weight: $medium;
                  margin-bottom: 0;
                }
              }

              &:hover {

                img {
                  transform: scale(1.1);
                }
              }
            }
          }

          &.bg-block {

            .block-inner-content {
              padding-top:260px;

              h2 {
                @include font-size(45);
                font-weight: $semiBold;
                line-height: 1;
              }
            }

            &.event-block {

              .block-inner-content {
                padding-top:260px!important;

                h2 {
                  @include font-size(30);
                  font-weight: $semiBold;
                  line-height: 1;
                }
              }
            }

            &.counter-block {

              .block-inner-content {
                width:100%;
                padding: 0;

                #count {
                  width: 100%;
                  margin-top: 75px;
                  @include font-size(180);
                  font-weight: $bold;
                  text-align: center;
                  line-height: 200px;
                }

                .to-go {
                  width: 100%;
                  @include font-size(26);
                  text-transform: uppercase;
                  text-align: center;
                  font-weight: $regular;
                }

              }
            }
          }

          &.headline-block {

            .block-inner-content {
              width: 100%;
              padding-top:140px;

              h2 {
                width: 100%;
                @include font-size(70);
                font-weight: $bold;
                text-align: center;
              }
            }
          }
        }
      }

      .event-search {
        background-color: $white;
        height:220px;
      }

      .event-search,  //TODO: remove when event search is finished
      .register {
        background-color: $white;
        height:220px;

        .register-content {
          @include flex-container(row, flex-start);
          padding:70px 200px;
          color: $brandPrimary;

          h2 {
            @include font-size(26);
            font-weight: $regular;
          }

          p {
            @include font-size(16);
            font-weight: $regular;

          }

          a {
            margin: 10px 0;
          }
        }
      }
    }
  }



  footer {
    //margin-top: 120px;

    /*      .footer-top {
            height:120px;
            background-color: $brandTertiary;

            .flex-wrapper {
              @include flex-container();
              padding: 25px 294px;
              justify-content: space-around;

              i {
                display: inline-block;

                &.mayor{
                  width:240px;
                  height:65px;
                  background: transparent url("#{$pathToImages}/mayor-of-london-x2.png") 0 0 no-repeat;
                  background-size: 240px 65px;;
                }

                &.city {
                  width:48px;
                  height:65px;
                  background: transparent url("#{$pathToImages}/city-of-london-x2.png") 0 0 no-repeat;
                  background-size: 48px 65px;;
                }

                &.airbnb {
                  position: relative;
                  top:6px;
                  width:48px;
                  height:55px;
                  background: transparent url("#{$pathToImages}/airbnb-logo-x2-.png") 0 0 no-repeat;
                  background-size: 48px 55px;;
                }
              }
            }
          }*/

    .footer-bottom {
      height:320px;
      background-color: $black;
      overflow: hidden;

      .grid-wrapper {
        margin-top: 55px;
        padding: 0 36px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 57px);
        grid-template-areas: "boc-logo . . wf-logo"
        ". . . wf-site "
        ". . . find-out-more"
        "social . . copy";
        color: $white;

        a {
          @include font-size(16);
          font-weight: $regular;
          color: $white;
        }

        p {
          @include font-size(16);
          font-weight: $regular;
          margin-bottom: 0;
        }

        .boc-logo {
          grid-area: boc-logo;

          .logo {
            display: inline-block;
            width: 248px;
            height: 47px;
            background: transparent url("#{$pathToImages}/boc-logo-x2.png") 0 0 no-repeat;
            background-size: 248px 47px;
          }
        }

        .wf-logo {
          grid-area: wf-logo;

          .wf-logo {
            display: inline-block;
            width: 92px;
            height: 51px;
            background: transparent url("#{$pathToImages}/Waltham-Forest-logo-x2.png") 0 0 no-repeat;
            background-size: 92px 51px;
          }
        }

        .wf-site {
          grid-area: wf-site;
        }

        .find-out-more {
          grid-area: find-out-more;
        }

        .social {
          grid-area: social;

          a {
            display: inline-block;
            margin-top: 20px;
            color: $white;
            @include font-size(29);


            &:not(:last-child) {
              margin-right: 19px;
            }
          }
        }

        .copy {
          grid-area: copy;
          @include font-size(16);
          font-weight: $regular;

          ul {
            @include flex-container();
            justify-content: flex-start;
            list-style: none;
            padding: 0;
            margin-bottom: 20px;

            li {
              height: 16px;
              position: relative;

              &:not(:last-child) {
                //border-right: 1px solid $white;

                &:after {
                  content: '';
                  position: absolute;
                  right:0;
                  top:10px;
                  display: block;
                  background-color: $white;
                  width: 1px;
                  height: 16px;
                }
              }

              a {
                padding: 10px;
                line-height: 16px;
                color: $white;
              }

              &:nth-child(1) {

                a {
                  padding-left: 0;
                }
              }

              &:last-child {

                a {
                  padding-right: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}