/****************************************
*
*  colour palette styles
*
*****************************************/

$white: #fff;                   .white {color: $white}
$black: #000;                   .black {color: $black}

$offWhite: #f5f5f5;

//Brand colours
$brandOrange: #eb602a;
$brandDkYellow: #f8ad00;
$brandYellow: #fad000;
$brandDkBlueGrey: #253746;
$brandGrey: #c0c0c0;

// Overlays
$imageOverlay: #79bdcb;

//transparents
$transBrandBlue: rgba(20,139,163,0.75);
$transBrandDkBlue: rgba(9,116,138,0.75);
$transBrandVDkBlue: rgba(7,96,114,0.75);

// text colours
$txtColour: #0a4551;
$text-color: $txtColour;
//$headingColour: $brandBlue;

//other colours
$notification-bg: #ff0000;

// Backgrounds
$filterImageBg: #1bbbdb;
$caseStudiesBg: #f1f1f1;
$footerBg:  #a6a6a6;
