/******************************************************************************************
*
*
*
*   Styles for devices below tablet portrait i.e. <= 767px
*
*
*
*******************************************************************************************/

body {

  .page-wrapper {

    .content-wrapper {

      .event-search,
      .register {
        height: auto!important;

        .register-content {
          flex-direction: column;
          padding: 36px;

          & > div {
            min-height: 100px;
            width: 100%;
          }
        }
      }

      .dynamic-row {
        flex-direction: column;

        .block {
          width: 100%;
          height: auto;
          overflow: hidden;

          &.image-block {

            &.size2of3 {

              .block-inner-content {

                h2 {
                  font-size: 12.8vw;
                  line-height: 12.8vw;
                }

                p {
                  font-size: 4.8vw;
                }
              }

              &.event-block {

                .block-inner-content {

                  h2 {
                    font-size: 10.666vw;
                  }

                  p {
                    font-size: 4.8vw;
                  }
                }
              }
            }

            &.event-block {

              .block-inner-content {

                h2 {
                  font-size: 10.666vw;
                }

                p {
                  font-size: 4.8vw;
                }
              }
            }

            &.social-block {

              .block-inner-content {
                padding-top: 25vw;

                h2 {
                  font-size: 10.666vw;
                }

                .instagram-icon {

                  &.fa {
                    font-size: 10.666vw;
                  }
                }
              }
            }

            &.news-block {

              .block-inner-content {

                h2 {
                  font-size: 10.666vw;
                }
              }
            }
          }

          &.bg-block {

            .block-inner-content {
              padding-top: 40vw;

              h2 {
                font-size: 10.666vw;
              }
            }

            &.event-block {

              .block-inner-content {

                h2 {
                  font-size: 10.666vw;
                }

                p {
                  font-size: 4.8vw;
                }
              }
            }

            &.counter-block {

              .block-inner-content {

                #count {
                  font-size: 48vw;
                  line-height: 48vw;
                  margin-top: 10vw;
                }

                .to-go {
                  font-size: 6.933vw;
                }
              }
            }

            &.feature-block {

              &.how-to-get-there-block {
                position: relative;
                overflow: hidden;
                padding-bottom: 75px;

                h2 {
                  margin: 15px 36px 0;
                  font-size: 10.666vw;
                  line-height: 10vw;
                }

                .wysiwyg {

                  &.inner {
                    padding: 0 36px;
                    height: auto;
                    min-height: 300px;
                  }
                }
              }

              &.whos-involved-block {
                height: auto;

                .non-link-block {
                  position: static;
                  overflow: hidden;
                }

                h2 {
                  font-size: 10.666vw;
                }

                h6 {
                  font-size: 5.066vw;
                }

                p {
                  font-size: 4.266vw;
                }
              }
            }
          }

          &.headline-block {

            .block-inner-content {
              padding-top: 40vw!important;

              h2 {
                font-size: 16vw!important;
              }
            }
          }

          &.hero-block-left {
            height:375px;

            .block-inner-content {

              h1 {
                font-size: 12.8vw;
                line-height: 12vw;
                margin-bottom: 10px;
              }

              p {
                font-size: 4.8vw;
                line-height: 4.8vw;

              }
            }

            .btn-wrapper {

              h4 {
                font-size: 6.666vw;
              }
            }
          }

          .image-link-block {

            .block-inner-content {

              h2 {
                font-size: 8vw;
              }

              p {
                font-size: 4.8vw;
              }
            }
          }
        }

        &.event-section {

          .event-side-info-block {
            height: auto;

            .non-link-block {
              min-height: 400px;
            }

          }
        }
      }
    }
  }
}