/******************************************************************************************
*
*
*
*   Styles for devices below tablet portrait i.e. <= 767px
*
*
*
*******************************************************************************************/

body {

  .page-wrapper {

    .content-wrapper {

      .event-search,
      .register {
        height: auto!important;

        .register-content {
          flex-direction: column;
          padding: 36px;

          & > div {
            min-height: 100px;
            width: 100%;
          }
        }
      }

      .dynamic-row {
        flex-direction: column;

        .block {
          width: 100%;
          height: auto;
          overflow: hidden;

          &.image-block {

            &.size2of3 {

              .block-inner-content {

                h2 {
                  font-size: 12.8vw;
                  line-height: 12.8vw;
                }

                p {
                  font-size: 4.8vw;
                }
              }

              &.event-block {

                .block-inner-content {

                  h2 {
                    font-size: 10.666vw;
                  }

                  p {
                    font-size: 4.8vw;
                  }
                }
              }
            }

            &.event-block {

              .block-inner-content {

                h2 {
                  font-size: 10.666vw;
                }

                p {
                  font-size: 4.8vw;
                }
              }
            }

            &.social-block {

              .block-inner-content {
                padding-top: 25vw;

                h2 {
                  font-size: 10.666vw;
                }

                .instagram-icon {

                  &.fa {
                    font-size: 10.666vw;
                  }
                }
              }
            }

            &.news-block {

              .block-inner-content {

                h2 {
                  font-size: 10.666vw;
                }
              }
            }
          }

          &.bg-block {

            .block-inner-content {
              padding-top: 40vw;

              h2 {
                font-size: 10.666vw;
              }
            }

            &.event-block {

              .block-inner-content {

                h2 {
                  font-size: 10.666vw;
                }

                p {
                  font-size: 4.8vw;
                }
              }
            }

            &.counter-block {

              .block-inner-content {

                #count {
                  font-size: 48vw;
                  line-height: 48vw;
                  margin-top: 10vw;
                }

                .to-go {
                  font-size: 6.933vw;
                }
              }
            }

            &.feature-block {

              &.how-to-get-there-block {
                position: relative;
                overflow: hidden;
                padding-bottom: 75px;

                h2 {
                  margin: 15px 36px 0;
                  font-size: 10.666vw;
                  line-height: 10vw;
                }

                .wysiwyg {

                  &.inner {
                    padding: 0 36px;
                    height: auto;
                    min-height: 300px;
                  }
                }
              }

              &.whos-involved-block {
                height: auto;

                .non-link-block {
                  position: static;
                  overflow: hidden;
                }

                h2 {
                  font-size: 10.666vw;
                }

                h6 {
                  font-size: 5.066vw;
                }

                p {
                  font-size: 4.266vw;
                }
              }

              .bg-link-block {

                .block-inner-content {

                  h2 {
                    font-size: 10.666vw;
                  }
                }
              }

              .non-link-block {

                .block-inner-content {

                  h2 {
                    margin-bottom: 7vw;
                  }

                  p {
                    font-size: 4.8vw;
                    line-height: 7vw;

                  }
                }
              }
            }

            &.faq-block {

              .block-inner-content {

                h2 {
                  font-size: 16vw;
                }
              }
            }
          }

          &.headline-block {

            .block-inner-content {
              padding-top: 40vw!important;

              h2 {
                font-size: 16vw!important;
              }
            }
          }

          &.hero-block {

            .block-inner-content {

              h1 {
                font-size: 12.8vw;
              }

              p {
                font-size: 4.8vw;
              }
            }
          }

          &.hero-block-left {
            height:375px;

            .block-inner-content {

              h1 {
                font-size: 12.8vw;
                line-height: 12vw;
                margin-bottom: 10px;
              }

              p {
                font-size: 4.8vw;
                line-height: 4.8vw;

              }
            }

            .btn-wrapper {

              h4 {
                font-size: 6.666vw;
              }
            }
          }

          &.responsive-media-block {
            height:40vw;
          }

          .image-link-block {

            .block-inner-content {

              h2 {
                font-size: 8vw;
              }

              p {
                font-size: 4.8vw;
              }
            }
          }
        }

        &.event-section {

          .event-side-info-block {
            height: auto;

            .non-link-block {
              min-height: 400px;
            }
          }
        }
      }

      .slider {

        .flexslider {

          .slides {

            .slide {

              a {

                &.image-link-block {

                  .block-inner-content {
                    width:80%;

                    h2 {
                      font-size: 12.8vw;
                    }

                    p {
                      font-size: 4.8vw;
                    }
                  }
                }
              }
            }
          }

          .flex-direction-nav {

            a {
              top: 76%;
            }
          }
        }
      }
    }

    footer {

      .footer-bottom {
        height: 650px;

        .grid-wrapper {
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 70px 35px 105px 70px 70px 50px 70px 70px;
          grid-template-areas: "boc-logo boc-logo"
          "mayor mayor"
          "city-of-london air-bnb"
          "wf-logo wf-logo"
          "wf-site wf-site"
          "find-out-more find-out-more"
          "social social"
          "copy copy";

          .boc-logo {
            text-align: center;
          }

          .mayor {
            background-size: 74.4vw 5.866vw;
            height: 35px;
          }

          .city-of-london {
            grid-area: city-of-london;
            background-position:  50% 0;
            background-size: 56px 75px;
          }

          .air-bnb {
            grid-area: air-bnb;
            background-position: 50% 8px;
            background-size: 56px 64px;
          }

          .wf-logo {

            .wf-logo {
              margin: 0 20px;
            }
          }

          .copy {

            ul {
              justify-content: center!important;
            }
          }

          .wf-site,
          .find-out-more,
          .social,
          .copy {
            text-align: center;
          }
        }
      }
    }
  }
}