/******************************************************************************************
*
*
*
*   Styles for medium screen down i.e. < 992px
*
*
*
*******************************************************************************************/

@import "../components/mobile-menu";

body {

  /*&:before {
    content: '992 to 768'!important;
    position: fixed;
    z-index: 10000;
    top:0;
    left:0;
    background-color: rgba(255, 255, 255, 0.75);
  }*/

  .page-wrapper {

    &.search-open {

      /*&:after {
        content: '';
        position: absolute;
        z-index: 1;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.25);
      }*/

      .search-overlay {
        @include fill-parent;
        z-index: 3;
        background-color: rgba(0, 0, 0, 0.25);
      }

      header {
        position: relative;
        z-index: 4;

        &.page-header {

          .header-content {

            .search-trigger {
              display: none;
            }

            .page-search-wrapper {
              position: absolute;
              z-index: 100;
              display: flex;
              width: 100%;
              height:170px;
              margin:0;background-color: rgba(0, 0, 0, 0.75);


              .page-search {
                @include centerH;
                margin:0;
                top:120px;
                height:50px;
              }
            }
          }
        }
      }
    }

    header {

      &.page-header {

        .header-content {

          .search-trigger {
            display: block;
            margin:35px 85px 0 0;

            &.off {
              display: none;
            }
          }

          .page-search-wrapper {
            display: none;
          }

          .social {
            display: none;
          }

          .hamburger {
            display: block;
          }
        }
      }
    }

    .main-navigation {
      display: none;

      &.open {
        display: block;
      }
    }

    .content-wrapper {

      .heading-panel {

        h2 {
          line-height: 36px;
          padding:  15px 0;
        }
      }

      .dynamic-row {

        &.how-to-get-there-section {
          flex-direction: column;

          & > div {
            width: 100%;
          }

          h2 {
            margin-bottom: -30px!important;
          }
        }

        &.multi-grid {
          flex-direction: column;

          & > div {
            width: 100%;
          }

          .form-block {

            .search-form {
              width: auto;
              flex-direction: row;
              justify-content: space-around;
              flex-wrap: wrap;
              align-items: center;

              .form-item {
                max-width: 18%;
              }

              .form-actions {
                display: flex;
                flex-direction: row;
                justify-content: center;

                input {
                  margin: 0 auto;
                  width:216px;
                }
              }
            }

            .btn-wrapper {
              margin-bottom: 30px;
              width:216px;
            }
          }
        }

        .block {

          &.bg-block {

            &.feature-block {

              .non-link-block {

                div {

                  &.block-inner-content {
                    padding:36px;
                    padding-bottom: 130px;

                    h2 {

                      &.light {
                        @include font-size(40);
                        font-weight: $semiBold;
                        margin-bottom: 18px;
                      }
                    }

                    p {

                      &.sml-body {
                        @include font-size(16);
                        font-weight: $regular;
                        line-height: 28px;
                      }

                      &.leader {
                        @include font-size(24);
                        font-weight: $regular;
                        line-height: 32px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .map-section {

        .legend {
          padding: 20px 100px;
        }
      }

      .event-search {

        .register-content {

          .search-form {
            flex-direction: column;
            justify-content: center;

            & > div {
              align-self: center;
            }

            .form-item {
              width: 50%;
              align-self: center;
            }


          }
        }
      }

      .facilities {

        .facilities-grid {
          margin: 0 0 30px;
          padding:0 0 0 70px;
          justify-content: center;
        }
      }

      .spaces-section {

        .bg-block {
          height: auto;
          min-height: 400px;
        }

        .space-block {

          .inner {

            &.wysiwyg {

              p {
                padding:0;
              }
            }
          }

          .capacity {

            .inner {
              flex-direction: column;
            }
          }
        }
      }

      .enquiry-form {

        .enquiry-form {
          margin: 30px 20px 0;
          grid-template-columns: 100%;
          grid-template-rows: repeat(7, 80px);
          grid-template-areas: "name "
          "email"
          "phone"
          "date"
          "info"
          "info"
          "submit-btn ";
        }
      }

      .search-results {

        .search-results-header {
          padding: 0 30px 20px;

          .fixed-width-content {
            width: 100%;
          }
        }

        .search-results-wrpper {

          & > div {

            &.result {

              .inner {
                flex-direction: column;
                padding-bottom: 30px;
                width: 100%;

                .result-item {
                  width: 100%;
                  padding-right: 0;

                  .related-categories {
                    flex-direction: column;

                    h4 {
                      margin-bottom: 10px;
                    }

                    .tags {
                    }
                  }
                }

                .result-action {
                  width: 100%;
                  margin-top: 20px;
                }
              }
            }
          }
        }

        .search-results-footer {
          justify-content: center;

          .paging-control {

          }
        }
      }
    }

    footer {
      height:76.690vw;

      .footer-content {
        padding: 40px 3vw 48px;

        .footer-grid {
          height: auto;
          grid-template-columns: 100%;
          grid-template-rows: 4.742vw 16.145vw 13.319vw 13.824vw 12.209vw 8.980vw 7.870vw
          6.054vw 7.366vw 16.649vw 10.393vw 13.925vw;
          grid-template-areas:
          "wf-logo"
          "social"
          "head-1"
          "headline-partners-top"
          "headline-partners-bottom"
          "head-2"
          "funding-partners"
          "head-3"
          "mol-partners"
          "foot-text"
          "contact"
          "nav-copy";
        }
      }
    }
  }
}

