/******************************************************************************************
*
*
*
*   Styles for medium screen down i.e. < 992px
*
*
*
*******************************************************************************************/

@import "../components/mobile-menu";

body {



  .page-wrapper {

    header {

      &.page-header {

        .header-content {

          .social {
            display: none;
          }

          .hamburger {
            display: block;
          }
        }
      }
    }

    .main-navigation {
      display: none;

      &.open {
        display: block;
      }
    }

    .content-wrapper {

      .heading-panel {

        h2 {
          line-height: 36px;
          padding:  15px 0;
        }
      }

      .dynamic-row {

        &.how-to-get-there-section {
          flex-direction: column;

          & > div {
            width: 100%;
          }

          h2 {
            margin-bottom: -30px!important;
          }
        }

        &.multi-grid {
          flex-direction: column;

          & > div {
            width: 100%;
          }

          .form-block {

            .search-form {
              width: auto;
              flex-direction: row;
              justify-content: space-around;
              flex-wrap: wrap;
              align-items: center;

              .form-item {
                max-width: 18%;
              }

              .form-actions {
                display: flex;
                flex-direction: row;
                justify-content: center;

                input {
                  margin: 0 auto;
                  width:216px;
                }
              }
            }

            .btn-wrapper {
              margin-bottom: 30px;
              width:216px;
            }
          }
        }
      }

      .map-section {

        .legend {
          padding: 20px 100px;
        }
      }



      .facilities {

        .facilities-grid {
          margin: 0 0 30px;
          padding:0 0 0 70px;
          justify-content: center;
        }
      }

      .spaces-section {

        .bg-block {
          height: auto;
          min-height: 650px;
        }

        .space-block {

          .inner {

            &.wysiwyg {

              p {
                padding:0;
              }
            }
          }

          .capacity {

            .inner {
              flex-direction: column;
            }
          }
        }
      }

      .enquiry-form {

        .enquiry-form {
          margin: 30px 20px 0;
          grid-template-columns: 100%;
          grid-template-rows: repeat(7, 80px);
          grid-template-areas: "name "
          "email"
          "phone"
          "date"
          "info"
          "info"
          "submit-btn ";
        }
      }

      .search-results {

        .search-results-header {
          padding: 0 30px 20px;

          .fixed-width-content {
            width: 100%;
          }
        }

        .search-results-wrpper {

          & > div {

            &.result {

              .inner {
                flex-direction: column;
                padding-bottom: 30px;
                width: 100%;

                .result-item {
                  width: 100%;
                  padding-right: 0;

                  .related-categories {
                    flex-direction: column;

                    h4 {
                      margin-bottom: 10px;
                    }

                    .tags {
                    }
                  }
                }

                .result-action {
                  width: 100%;
                  margin-top: 20px;
                }
              }
            }
          }
        }

        .search-results-footer {
          justify-content: center;

          .paging-control {

          }
        }
      }
    }
  }
}

