/******************************************************************************************
*
*
*
*   Styles for mobile down i.e. < 480px
*
*
*
*******************************************************************************************/

.flex-item {
  margin-right: 0;

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

body {
  width: 100%;
  overflow-x: hidden;
  //background-image: url("#{$pathToImages}/fixed-bg-img-3-x1-mob.jpg");
  //background-size: 100%;

  &:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url("#{$pathToImages}/fixed-bg-img-3-x2-mob.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .hidden-xs {
    display: none;
  }

  a {

    &.btn {

      &.link-btn {
        width: 305px;
        @include font-size(19);
        height: 84px;
        line-height: 84px;

        &.external {

          &:after {
            top:31px;
            right: 10px;
          }
        }
      }
    }
  }

  .fixed-width-content {
    width: 100%;
    margin:0 18px;
    padding:0 18px;
  }

  header {

    &.page-header {
      height:87px;

      .header-content {
        margin: 0;
        padding:0;

        .logo {
          margin: 20px 60px;
        }
      }
    }
  }

  .page-wrapper {

    .image-block {

      img {
        z-index: 0;
      }
    }

    .hero {

      .hero-content {

        .inner {
          margin:90px 0 0;

          h1 {
            @include font-size(58);
            width: 90%;
          }

          p {
            @include font-size(28);
            font-weight: $regular;;
            line-height: 1.1;
            width: 90%;
          }

          a {

            &.find-out-more {

            }
          }
        }
      }
    }

    .content-row {
      height: auto!important;

      &.full-height {
        min-height: 423px;
      }

      &.row-4 {

        .content-row-content {
          flex-direction: column-reverse;

          .flex-item {
            margin-bottom: 12px!important;
          }
        }
      }

      .content-row-content {
        flex-direction: column;

        .text-image-feature-block {
          flex-direction: column-reverse;
          width: 305px;
          min-height: 610px;

          .text-block {
            width:305px;
            min-height: 435px;

            .inner {
              display: block;
              height: 100%;
              padding-bottom: 120px;

              h2 {
                @include font-size(36);
              }

              a {

                &.link-btn {
                  width:269px;
                  left:18px;
                  top: auto;
                  bottom: 18px!important;
                  margin-bottom: 0;
                }
              }
            }
          }

          .image-block {
            width:305px;
            height:305px;

            img {
              object-fit: cover;
            }
          }
        }

        .custom-feature-image-block {
          width:305px;
          height: 450px;

          img {
            width: 100%;
            height: auto;
            /*object-position: right;
            object-fit: cover;*/
          }

          .inner {
            height: auto;
            margin-top: 167px;
            padding-bottom: 120px;
            background-color: $brandPersianGreen;

            h2 {
              margin:0;
              width: auto;
              @include font-size(36);
            }

            a {

              &.volunteers {
                left:18px;
                top: auto;
                bottom: 0;
                width:269px;
              }
            }
          }
        }

        .counter-block {
          width:305px;
          height: 340px;
          background: transparent url("#{$pathToImages}/counter-bg-sml.png") 0 0 no-repeat;

          p {
            @include font-size(21);

            &.count {
              @include font-size(158);
              margin: 60px 0 0 ;
            }
          }
        }

        .full-width-cta-block {
          height: auto;
          width: 305px;

          .inner {
            padding-bottom: 120px;

            h2 {
              @include font-size(43);
            }

            @include font-size(20);

            a {

              &.stay-connected {
                width:269px;
                bottom: 0;
                top: auto;
                left:18px;
              }
            }
          }
        }

        .feature-image-block {
          width:305px;

          img {
            object-fit: cover;

            &.inatagram-block-bg {
              z-index: 0;
            }
          }

          a {

            &.link-btn{
              width: 269px;
              top: auto;
              bottom:0;
              left: 18px;
            }
          }
        }

        .circular-link-block {
          padding: 0;
          width: 304px;
          height: 304px;

          .inner {
            width: 100%;
            height: 100%;
            @include border-radius(152px);

            h2 {
              top:84px;
              left: 56px;
              @include font-size(40);
            }

            a {
              @include border-radius(152px);
            }
          }
        }
      }
    }
  }

  footer {

    .footer-top {

    }

    .footer-bottom {
      height:400px;

      .fixed-width-content {
        width: 338px;
        padding: 0;
        margin-bottom: 0;
      }

      .grid-wrapper {
        padding: 0 18px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 57px);
        grid-template-areas: "boc-logo"
        "social"
        "wf-logo"
        "wf-site"
        "find-out-more"
        "copy";

        .boc-logo {
          @include flex-container();
          justify-content: center;
        }

        .social {
          @include flex-container();
        }
      }
    }
  }
}