/******************************************************************************************
*
*
*
*   Styles for tablet portrait down i.e. < 768px
*
*
*
*******************************************************************************************/

@import "mobile-only";

.flex-item {
  margin-right: 0;

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

body {

  .fixed-width-content {
    width: 100%;
    margin: 0 auto;
    padding:0 18px;
  }

  .page-wrapper {

    .hero {
      width: 80%;
      margin: 0 auto;
    }

    .content-row {

      .content-row-content {
        align-items: center;

        .flex-item {
          margin: 0;
          margin-bottom: 12px!important;
        }

        .text-image-feature-block,
        .full-width-cta-block {
          width: 78%;
          margin: 0 auto;

          .text-block {
            width: 100%;
            height: auto;
            min-height: 0;
          }

          .image-block {
            width: 100%;
            height:600px;
          }
        }

        .feature-image-block {
          width:78%;
        }

        .custom-feature-image-block {
          height:600px;
          width: 78%;

          .inner {
            margin-top: 312px;

          }
        }
      }
    }
  }

  footer {

    .footer-top {

      .flex-wrapper {
        padding: 25px 30px;
      }
    }

    .footer-bottom {

      .fixed-width-content {
        width:78%;
      }

      .grid-wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "boc-logo  wf-logo"
        ". wf-site "
        ". find-out-more"
        "social copy";
      }
    }
  }
}



